In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/corona-virus-report/covid_19_clean_complete.csv
/kaggle/input/corona-virus-report/country_wise_latest.csv
/kaggle/input/corona-virus-report/day_wise.csv
/kaggle/input/corona-virus-report/usa_county_wise.csv
/kaggle/input/corona-virus-report/worldometer_data.csv
/kaggle/input/corona-virus-report/full_grouped.csv

In [2]:
import numpy as np
import pandas as pd

In [3]:
covid_table = pd.read_csv("/kaggle/input/corona-virus-report/covid_19_clean_complete.csv")
a = covid_table.columns                       #Nome das colunas
print(len(covid_table.columns))           #quantidade de colunas 

#tipo de cada dado da coluna
i = 0
for i in range(len(covid_table.columns)):
    print("A coluna {} é um dado tipo {}.". format(a[i] ,type(covid_table[a[i]][1])))

10
A coluna Province/State é um dado tipo <class 'float'>.
A coluna Country/Region é um dado tipo <class 'str'>.
A coluna Lat é um dado tipo <class 'numpy.float64'>.
A coluna Long é um dado tipo <class 'numpy.float64'>.
A coluna Date é um dado tipo <class 'str'>.
A coluna Confirmed é um dado tipo <class 'numpy.int64'>.
A coluna Deaths é um dado tipo <class 'numpy.int64'>.
A coluna Recovered é um dado tipo <class 'numpy.int64'>.
A coluna Active é um dado tipo <class 'numpy.int64'>.
A coluna WHO Region é um dado tipo <class 'str'>.

In [4]:
#transformada de “Object” para “datetime64”
#covid_table["Date"] = covid_table["Date"].astype('datetime64')
covid_table['Date'] = pd.to_datetime(covid_table['Date'])
#print(covid_table['Date'].dtype)

#Verificando quais colunas tem algum valor NuN
i = 0
for i in range(len(covid_table.columns)):    
    if covid_table[a[i]].isna().any():                                      #Vai verificar cada coluna e se der TRUE, tem alguma valor NaN
       print("\033[1mA coluna {} tem algum valor NaN\033[0m".format(a[i]))
    else:
        print("A coluna{} não possui valores NaN". format(a[i]))

A coluna Province/State tem algum valor NaN
A colunaCountry/Region não possui valores NaN
A colunaLat não possui valores NaN
A colunaLong não possui valores NaN
A colunaDate não possui valores NaN
A colunaConfirmed não possui valores NaN
A colunaDeaths não possui valores NaN
A colunaRecovered não possui valores NaN
A colunaActive não possui valores NaN
A colunaWHO Region não possui valores NaN

In [5]:
#Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
#       'Deaths', 'Recovered', 'Active', 'WHO Region'],

covid_table1 = covid_table.fillna(0)                                                 # Substituir todos os valores NaN por 0
covid_table0 = covid_table1[covid_table['Province/State'].notna()]                   # Tira os valores vazios 
covid_table0 = covid_table0.sort_values(by=['Confirmed'],ascending = False)          # Ordena os valores de Maior para Menor
covid_table0 = covid_table0.drop_duplicates('Province/State')                        #Tira as provincias repetidas
#covid_table0 

#covid_table0 = covid_table0.sort_values(by=['Confirmed'],ascending = False)
d = ['Province/State', 'Confirmed', 'Active', 'Deaths', 'Recovered']
top5 = covid_table0[d]
print("\033[1mTOP 5 PROVINCIAS COM MAIS CASOS DE COVID\033[0m\n")
top5.head(5)

TOP 5 PROVINCIAS COM MAIS CASOS DE COVID

      Province/State  Confirmed  Active  Deaths  Recovered
41821          Hubei      68135       0    4512      63623
48850         Quebec      58728   53061    5667          0
48848        Ontario      40673   37866    2807          0
48842        Alberta      10390   10204     186          0
48821       Victoria       9049    5149      83       3817

## Função para juntar a coluna provincia (onde notna) com a coluna pais

In [6]:
def juntando(linha):                                     #Def uma fução com uma linha de argumento que será utilizado pelo aplly
    if pd.notna(linha['Province/State']):                #Para cada linha da coluna Province/State será verdadeiro caso NÂO for NaN
        linha['Country/Region'] = linha['Country/Region'] + '_' + linha['Province/State'] # Junta as duas colunas
    else:
        linha['Country/Region'] = linha['Country/Region'] #Caso for FALSO não vai juntar as duas colunas 
    
    return linha                                           
 

covid_new = covid_table.apply(juntando, axis=1)           #Utilizando o apply para fazer o nome dataframe
covid_new

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [7]:
#Deletando a coluna da Province/State!!!
#covid_new.drop('Province/State', axis=1, inplace=True)
covid_new.loc[48850]
covid_new

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [22]:
m = ['Deaths', 'Country/Region']
covid_compere = covid_table.sort_values(by=['Deaths'],ascending = False)
covid_compere = covid_compere[m]  #Dataframe com o numero de mortos por pais ou região

In [27]:
#xu = covid_compere[covid_compere['Country/Region'] == 'Yemen']
#xu = xu.sort_values(by=['Deaths'],ascending = False)
covid_compere0 = covid_compere.drop_duplicates('Country/Region')

In [28]:
covid_compere0

       Deaths  Country/Region
49030  148011              US
48835   87618          Brazil
49028   45759  United Kingdom
48963   44022          Mexico
48942   35112           Italy
...       ...             ...
39014       0        Holy See
47535       0        Cambodia
38988       0         Eritrea
38992       0            Fiji
47527       0          Bhutan

[187 rows x 2 columns]

In [33]:
World_data = pd.read_csv("/kaggle/input/corona-virus-report/worldometer_data.csv")
World_data
#Tome apenas as informações de população, país e continentes
v = ['Population', 'Country/Region', 'Continent']
World_data = World_data[v]
World_data0 = World_data.drop_duplicates('Country/Region')
World_data0

#Juntando os dois dataframes!!!
#covid_compere.drop_duplicates('Country/Region')

table_together = World_data0.merge(covid_compere0, on='Country/Region')
table_together

       Population         Country/Region      Continent  Deaths
0    2.127107e+08                 Brazil  South America   87618
1    1.381345e+09                  India           Asia   33408
2    1.459409e+08                 Russia         Europe   13334
3    5.938157e+07           South Africa         Africa    7067
4    1.290662e+08                 Mexico  North America   44022
..            ...                    ...            ...     ...
166  7.285750e+06                   Laos           Asia       0
167  7.200400e+04               Dominica  North America       0
168  5.323700e+04  Saint Kitts and Nevis  North America       0
169  5.678000e+04              Greenland  North America       0
170  5.986820e+05         Western Sahara         Africa       1

[171 rows x 4 columns]

### Agrupando a tabela final por continentes e mostrando qual tem mais mortes

In [38]:
#table_together.drop_duplicates('Continent')
#[South America, Asia, Europe, Africa, North America, Australia/Oceania]

table_continent = table_together.groupby('Continent').sum()
colunas_para_excluir = ['Country/Region']
table_continent = table_continent.drop(colunas_para_excluir, axis=1)
table_continent
topp5 = table_continent.sort_values(by=['Deaths'],ascending = False)

print("TOP 5 CONTINENTES COM MAIS MORTES")
topp5.head(5)

TOP 5 CONTINENTES COM MAIS MORTES

                 Population  Deaths
Continent
Europe         6.794130e+08  155961
South America  4.308076e+08  135506
Asia           3.020510e+09   85740
North America  2.568683e+08   55938
Africa         1.215738e+09   17759

### Morte por Milhão

In [54]:
#Crie uma nova coluna contendo o número de mortes por milhão dentro dos
#continentes (Utilize a fórmula: (mortes/população)*10^6).

topp5['Morte/Milhão'] = (topp5['Deaths']/topp5['Population'])*1000000

print("MORTE POR MILHÃO DE PESSOAS EM CADA CONTINENTE")
topp5

MORTE POR MILHÃO DE PESSOAS EM CADA CONTINENTE

                     Population  Deaths  Morte/Milhão
Continent
Europe             6.794130e+08  155961    229.552555
South America      4.308076e+08  135506    314.539491
Asia               3.020510e+09   85740     28.385939
North America      2.568683e+08   55938    217.769175
Africa             1.215738e+09   17759     14.607591
Australia/Oceania  4.039107e+07     106      2.624343